VITE_SUPABASE_URL=https://fcizzfdqgqyshxlltyze.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjaXp6ZmRxZ3F5c2h4bGx0eXplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxNDE4MjcsImV4cCI6MjA5OTcxNzgyN30.jE3u98HCHyDyJuHFSacdsPtfs1TG2nN6WnsJRo7uPlY
VITE_SUPABASE_EDGE_URL=https://fcizzfdqgqyshxlltyze.supabase.co/functions/v1
